APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_FROM_ADDRESS=no-reply@simutrans.sakura.ne.jp
MAIL_FROM_NAME="Simutrans portal"

# seedで追加する管理者ユーザー
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# インポート用WP認証情報
WP_DB_HOST=127.0.0.1
WP_DB_PORT=3306
WP_DB_DATABASE=wp
WP_DB_USERNAME=root
WP_DB_PASSWORD=

# 記事投稿時のツイート用Twitter認証情報
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

# バックアップ用dropbox認証情報
DROPBOX_AUTHORIZATION_TOKEN=
