/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

resources/js/vue-i18n-locales.generated.js
public/mix-manifest.json
