includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    ignoreErrors:

    paths:
        - app/

    # Level 9 (最高レベル - mixed型の使用が制限される)
    level: 8

    # covariant,contravariantが残念な感じになるのでやめる
    #checkGenericClassInNonGenericObjectType: false

    reportUnmatchedIgnoredErrors: false

    # ide-helper連携
    scanFiles:
        - _ide_helper_models.php
