parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:page\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:pak\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Method App\\Models\\MyList\:\:items\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\MyListItem, static\(App\\Models\\MyList\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\MyListItem, \$this\(App\\Models\\MyList\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MyList.php

		-
			message: '#^Method App\\Models\\MyList\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, static\(App\\Models\\MyList\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\MyList\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MyList.php

		-
			message: '#^Method App\\Models\\MyListItem\:\:article\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\Article, static\(App\\Models\\MyListItem\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\Article, \$this\(App\\Models\\MyListItem\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MyListItem.php

		-
			message: '#^Method App\\Models\\MyListItem\:\:list\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\MyList, static\(App\\Models\\MyListItem\)\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\MyList, \$this\(App\\Models\\MyListItem\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MyListItem.php
