includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 7

    # covariant,contravariantが残念な感じになるのでやめる
    checkGenericClassInNonGenericObjectType: false
