parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of callable App\\Actions\\Redirect\\AddRedirect expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Article/UpdateArticle.php

		-
			message: '#^Call to function assert\(\) with false will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: app/Actions/DeadLink/Check.php

		-
			message: '#^Instanceof between string and App\\Models\\Contents\\AddonIntroductionContent will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 2
			path: app/Actions/DeadLink/Check.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Actions/SendSNS/Article/GetArticleParam.php

		-
			message: '#^Match arm comparison between string and App\\Enums\\ArticlePostType\:\:AddonIntroduction is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Casts/ToArticleContents.php

		-
			message: '#^Match arm comparison between string and App\\Enums\\ArticlePostType\:\:AddonPost is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Casts/ToArticleContents.php

		-
			message: '#^Match arm comparison between string and App\\Enums\\ArticlePostType\:\:Markdown is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Casts/ToArticleContents.php

		-
			message: '#^Match arm comparison between string and App\\Enums\\ArticlePostType\:\:Page is always false\.$#'
			identifier: match.alwaysFalse
			count: 1
			path: app/Casts/ToArticleContents.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: app/Casts/ToArticleContents.php

		-
			message: '#^Call to function assert\(\) with false will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Http/Controllers/Pages/Article/DownloadController.php

		-
			message: '#^Instanceof between string and App\\Models\\Contents\\AddonIntroductionContent will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Http/Controllers/Pages/Article/DownloadController.php

		-
			message: '#^Method App\\Http\\Controllers\\Pages\\Article\\DownloadController\:\:conversion\(\) should return Illuminate\\Http\\RedirectResponse but returns Illuminate\\Http\\RedirectResponse\|Illuminate\\Routing\\Redirector\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Pages/Article/DownloadController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Services\\Front\\MetaOgpService\:\:frontArticleShow\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Pages/Article/ShowController.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot access property \$nickname on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot access property \$profile on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot call method getDescription\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleList.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleShow.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleShow.php

		-
			message: '#^Cannot access property \$nickname on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Frontend/ArticleShow.php

		-
			message: '#^Cannot access property \$profile on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Resources/Frontend/ArticleShow.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Resources/Frontend/ArticleShow.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Resources/Mypage/ArticleEdit.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Jobs/Attachments/JobGenerateThumbnail.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Jobs/Attachments/JobGenerateThumbnail.php

		-
			message: '#^Parameter \#2 \$contents of method Illuminate\\Filesystem\\FilesystemAdapter\:\:put\(\) expects Illuminate\\Http\\File\|Illuminate\\Http\\UploadedFile\|Psr\\Http\\Message\\StreamInterface\|resource\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Jobs/Attachments/JobGenerateThumbnail.php

		-
			message: '#^Call to function assert\(\) with false will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Listeners/Article/OnDeadLinkDetected.php

		-
			message: '#^Instanceof between string and App\\Models\\Contents\\AddonIntroductionContent will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Listeners/Article/OnDeadLinkDetected.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:page\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:pak\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Call to function in_array\(\) with string and array\{App\\Enums\\ArticleStatus\:\:Draft, App\\Enums\\ArticleStatus\:\:Private, App\\Enums\\ArticleStatus\:\:Trash\} will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Cannot access property \$thumbnail on App\\Models\\Attachment\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Cannot access property \$thumbnail on string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Cannot call method getDescription\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Cannot call method toMutable\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Instanceof between string and App\\Models\\Contents\\AddonPostContent will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Method App\\Models\\Article\:\:getInfoLogging\(\) should return array\{articleId\: int, articleTitle\: string, articleStatus\: App\\Enums\\ArticleStatus, articleUserName\: string\} but returns array\{articleId\: int, articleTitle\: string, articleStatus\: string, articleUserName\: string\}\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Article.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelperArticle\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 2
			path: app/Models/Article.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\ArticlePostType\:\:AddonPost will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\ArticleStatus\:\:Publish will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\ArticleStatus\:\:Reservation will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/Article.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 4
			path: app/Policies/ArticlePolicy.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\ArticlePostType\:\:AddonIntroduction will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Policies/ArticlePolicy.php

		-
			message: '#^Strict comparison using \=\=\= between string and App\\Enums\\ArticlePostType\:\:AddonPost will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Policies/ArticlePolicy.php

		-
			message: '#^Cannot call method myAttachments\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Repositories/ArticleRepository.php

		-
			message: '#^Cannot call method getDescription\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Front/MetaOgpService.php
