// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'multi_dropdown';

body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
body>main {
    flex:1;
    display: flex;
    flex-direction: column;
}
h1, .h1 {
    font-size: 2rem;
}
h2, .h2 {
    font-size: 1.6rem;
}
dd {
    margin-left: 1rem;
    margin-bottom:2rem;
}
.img-thumbnail {
    max-height: 256px;
    max-width: 100%;
}
.img-full-box {
    margin: 0 -1rem;
    text-align: center;
}
.list .article-box {
    display:flex;
    flex-direction: column;
}
.detail .img-thumbnail {
    max-height: 512px;
    max-width: 100%;
}
.badge {
    padding: 4px;
}
.pagination {
    margin-bottom: 2rem;
}
.category-list {
    display: flex;
    flex-wrap: wrap;
}
.category-list .custom-checkbox,
.category-list .custom-radio {
    min-width: 11rem;
}
.clickable {
    cursor: pointer;
}
#popular-tags .card-body {
    flex-direction: row;
    flex-wrap: wrap;
}
.card-profile {
    height: 10rem;
    width: 500px;
}

.selected {
    border: solid 1px red;
}
#uploaderModal ul {
    list-style-type: none;
    padding: 0;
    margin:auto;
}
.modal-footer {
    flex-direction: column;
}
.hidable {
    display: none;
}
.show {
    display: block!important;
}
