// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'multi_dropdown';

body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
body>main {
    flex:1;
    display: flex;
    flex-direction: column;
}
h1, .h1 {
    font-size: 1.6rem;
}
h2, .h2 {
    font-size: 1.6rem;
}
.img-thumbnail {
    max-height: 128px;
    max-width: 100%;
}

.detail {
    .img-full-box {
        margin: 0 -1rem;
        text-align: center;
    }
    dd {
        margin-left: .5rem;
        margin-bottom:2rem;
        word-break: break-all;
    }
}
.list {
    .article-box {
       display:flex;
       flex-direction: column;
   }
    .img-full-box {
        margin: 0 -1rem;
    }
    .img-fluid {
        max-width: 100%;
        max-height: 512px;
    }
    @media (min-width: 768px) {
        .img-full-box {
            margin: 0;
        }
        .img-fluid {
            width: auto;
            max-height: 256px;
            max-width: 100%;
        }
    }
}
.badge {
    padding: 4px;
}
.pagination {
    margin-bottom: 2rem;
}
.category-list {
    display: flex;
    flex-wrap: wrap;
}
.category-list .custom-checkbox,
.category-list .custom-radio {
    min-width: 11rem;
}
.clickable {
    cursor: pointer;
}


// 投稿画面
#popular-tags .card-body {
    flex-direction: row;
    flex-wrap: wrap;
}


// profile card
.profile-card {
    min-width: 40%;
    max-width: 640px;

    .card-text {
        font-size: .8rem;
        word-break: break-all;
    }

    .card-description {
        max-height: 6rem;
        overflow-y: scroll;
    }
    .img-card-box {
        min-width: 30%;
        width: 30%;
    }
    .img-card {
        width: 100%;
    }
    .verify-status {
        position: absolute;
        top: 0;
    }
}
.mypage {
    .table {
        font-size: 0.8rem;
    }
}

// modal
#uploaderModal {
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 75%;
        }
    }
    .selected {
        border: solid 1px rgb(72, 163, 224);
        background-color: rgba(72, 163, 224, 0.5);
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        position: relative;
        padding: .2rem;
        margin: .3rem;
    }
    .img-thumbnail {
        max-height: 128px;
    }
    .modal-footer {
        flex-direction: column;
    }
    .hidable {
        display: none;
    }
    .show {
        display: block!important;
    }
    .modal-body button {
        min-width: 8rem;
    }
    li .close {
        position: absolute;
        top: -0.4rem;
        right: -0.4rem;
        border: solid 2px #000;
        border-radius: 999px;
        line-height: 1.3rem;
        background-color: #fff;
        opacity: 0.7;
        font-size: 1.5rem;
        outline: none;
    }
}
