.articles {
  article {
    .article-main {
      img {
        // min-height: 32px;
        max-height: 128px;
        max-width: 100%;
      }
      .article-description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        overflow: hidden;
        max-height: calc(1.45rem * 5);
      }
      @media (max-width: 576px) {
        .article-description {
          display: none;
        }
      }
    }
  }
}
