#article-show {
  .thumbnail {
    max-height: 512px;
  }
  dl {
    dd {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  .page {
    section {
      .text,
      .url {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  .markdown {
    section {
      h1 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      h5 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
      h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      p {
        margin-left: 1rem;
        margin-bottom: 3rem;
      }
      a {
        color: var(--primary);
      }
      img {
        max-width: 100%;
      }

      table {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        th {
          border-top: solid 1px #ced4da;
          border-bottom: solid 2px #ced4da;
          padding: 0.75rem;
        }
        td {
          border-bottom: solid 1px #ced4da;
          padding: 0.75rem;
        }
      }

      code {
        color: var(--dark);
        padding: 0.2em 0.4em;
        margin: 0;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
      }
      pre {
        padding: 16px;
        overflow: auto;
        line-height: 1.45;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
        code {
          display: inline;
          max-width: auto;
          padding: 0;
          margin: 0;
          overflow: visible;
          line-height: inherit;
          word-wrap: normal;
          background-color: initial;
          border: 0;
        }
      }
    }
  }
}
