// TOPのみ画面サイズに応じて表示件数を変える
#top {
  .section-title {
    font-size: 1.5rem;
  }

  .articles {
    > article {
      display: grid;

      &:nth-of-type(1n + 4) {
        display: none;
      }
      @media (min-width: 576px) {
      }
      @media (min-width: 768px) {
        &:nth-of-type(1n) {
          display: grid;
        }
        &:nth-of-type(1n + 5) {
          display: none;
        }
      }
      @media (min-width: 992px) {
        &:nth-of-type(1n) {
          display: grid;
        }
        &:nth-of-type(1n + 5) {
          display: none;
        }
      }
      @media (min-width: 1200px) {
        &:nth-of-type(1n + 6) {
          display: grid;
        }
      }
      @media (min-width: 1600px) {
        &:nth-of-type(1n) {
          display: grid;
        }
      }
    }
  }
}
