<IfModule mod_rewrite.c>
    # disable bots
    RewriteCond %{HTTP_USER_AGENT} (SentryUptimeBot) [NC]
    RewriteRule .* - [F,L]
    # disable cloud attack
    # RewriteCond %{REMOTE_HOST} (compute\.amazonaws\.com|googleusercontent\.com|xvps\.ne\.jp) [NC]
    # RewriteRule .* - [F,L]

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 旧URL互換リダイレクト設定
	RewriteBase /
	# category/pak/{size}/none    -> categories/pak/{size}/none
	# category/pak/{size}/{slug}  -> categories/pak/{size}/{slug}
	# category/{type}/{slug}  -> categories/{type}/{slug}
	RewriteRule ^category/(.+)$  /categories/$1 [L,R=301]
	# tag/{tag}   -> tags/{tag}
	RewriteRule ^tag/(.+)$  /tags/$1 [L,R=301]
	# user/{user} -> users/{user}
	RewriteRule ^user/(.+)$  /users/$1 [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
