@import "tailwindcss";

@theme {
  --color-brand: rgb(42, 134, 234);
  --color-tag: #757575;
  --color-category: #607d8b;
}

.markdown-body h1 {
  @apply text-2xl font-semibold sm:text-2xl my-2 break-all;
}
.markdown-body h2 {
  @apply text-2xl font-semibold text-brand sm:text-2xl my-2 break-all;
}
.markdown-body h3 {
  @apply text-xl sm:text-xl my-2 p-2 flex w-full items-center justify-between bg-gray-100 break-all;
}
.markdown-body h4 {
  @apply text-xl font-semibold sm:text-xl my-4 break-all;
}
.markdown-body h5 {
  @apply text-xl font-semibold sm:text-xl my-4 break-all;
}
.markdown-body h6 {
  @apply text-xl font-semibold sm:text-xl my-4 break-all;
}

.markdown-body p {
  @apply text-base leading-relaxed mb-8 break-all;
}
.markdown-body a {
  @apply decoration-sky-600 text-sky-600 underline break-all;
}
.markdown-body img {
  @apply mt-6 mb-12 rounded-lg shadow-md;
}
.markdown-body code {
  @apply bg-gray-100 rounded p-1 text-sm font-mono break-all;
}
.markdown-body pre code {
  @apply block bg-gray-100 rounded p-2 text-sm font-mono;
}
.markdown-body pre {
  @apply bg-gray-100 rounded p-4 my-6 overflow-x-auto;
}

.markdown-body table {
  @apply border-collapse my-6;
}
.markdown-body th,
td {
  @apply border border-gray-300 px-4 py-2;
}
.markdown-body th {
  @apply bg-gray-500 text-white;
}

.markdown-body ul {
  @apply list-disc mb-4 ml-6;
}
.markdown-body ol {
  @apply list-decimal mb-4 ml-6;
}
