@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-tag: #757575;
  --color-category: #607d8b;

  --color-c-main: theme(colors.gray.900);
  --color-c-sub: theme(colors.gray.600);
  --color-c-primary: rgb(42, 134, 234);
  --color-c-danger: theme(colors.red.600);
  --color-c-warn: theme(colors.yellow.500);
  --color-c-info: theme(colors.cyan.600);
  --color-c-success: theme(colors.emerald.600);

  --font-sans:
    "Inter", "Noto Sans JP", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

/* reactとblade双方から共通利用できるように定義した主要パーツ用クラス */
/* フォーム */
.v2-input {
  @apply border-0 border-b border-b-c-sub/20 p-2
    focus:outline-none focus:ring-0 focus:border-b-c-primary
    invalid:border-b-c-danger invalid:bg-c-danger/10
    disabled:cursor-text disabled:bg-c-sub/10;
}
.v2-input-file {
  @apply file:ml-0 file:border-0
    file:px-3 file:py-1.5 file:text-sm file:rounded-lg
    file:bg-c-sub/80 hover:file:bg-c-sub/60;
}
.v2-input-select {
  @apply pr-8;
}
.v2-checkboxes {
  @apply space-x-4 space-y-1;
}
.v2-checkbox {
  @apply mr-0.5
    text-c-main
    checked:text-c-primary
    focus:outline-none focus:ring-0
    invalid:text-c-danger invalid:bg-c-danger/10
    disabled:cursor-not-allowed disabled:text-c-sub/70
    ;
}
.v2-checkbox-label {
  @apply
  peer-checked:text-c-primary
  peer-disabled:text-c-sub/70 peer-disabled:cursor-not-allowed
  peer-invalid:text-c-danger
  ;
}

/* カード */
.v2-card {
  @apply bg-transparent border p-4 rounded-lg w-full;
}
/* カード：色 */
.v2-card-main {
  @apply border-c-main text-c-main;
}
.v2-card-sub {
  @apply border-c-sub/80 text-c-sub/80;
}
.v2-card-primary {
  @apply border-c-primary text-c-primary;
}
.v2-card-danger {
  @apply border-c-danger text-c-danger;
}
.v2-card-warn {
  @apply border-c-warn text-c-warn;
}
.v2-card-info {
  @apply border-c-info text-c-info;
}
.v2-card-success {
  @apply border-c-success text-c-success;
}

/* ボタン */
.v2-button {
  @apply text-white cursor-pointer;
}
.v2-button-outline {
  @apply bg-transparent border cursor-pointer;
}
/* ボタン：サイズ */
.v2-button-sm {
  @apply px-2 py-1 text-xs rounded-md;
}
.v2-button-md {
  @apply px-3 py-1.5 text-sm rounded-lg;
}
.v2-button-lg {
  @apply px-4 py-2 text-base rounded-lg;
}
/* ボタン：disabled */
.v2-button-disabled {
  @apply cursor-not-allowed opacity-50 hover:bg-none;
}
/* ボタン：色 */
.v2-button-sub {
  @apply bg-c-sub/80 hover:bg-c-sub/60;
}
.v2-button-sub-outline {
  @apply border-c-sub/80 text-c-sub/80 hover:bg-c-sub/10;
}
.v2-button-primary {
  @apply bg-c-primary hover:bg-c-primary/80;
}
.v2-button-primary-outline {
  @apply border-c-primary text-c-primary hover:bg-c-primary/10;
}
.v2-button-danger {
  @apply bg-c-danger hover:bg-c-danger/80;
}
.v2-button-danger-outline {
  @apply border-c-danger text-c-danger hover:bg-c-danger/10;
}
.v2-button-warn {
  @apply bg-c-warn hover:bg-c-warn/80;
}
.v2-button-warn-outline {
  @apply border-c-warn text-c-warn hover:bg-c-warn/10;
}
.v2-button-info {
  @apply bg-c-info hover:bg-c-info/80;
}
.v2-button-info-outline {
  @apply border-c-info text-c-info hover:bg-c-info/10;
}
.v2-button-success {
  @apply bg-c-success hover:bg-c-success/80;
}
.v2-button-success-outline {
  @apply border-c-success text-c-success hover:bg-c-success/10;
}

/* バッジ */
.v2-badge {
  @apply text-[.7rem] px-1 py-0.5 mr-0.5 text-white rounded-md;
}
.v2-badge-main {
  @apply bg-c-main;
}
.v2-badge-sub {
  @apply bg-c-sub/80;
}
.v2-badge-primary {
  @apply bg-c-primary;
}
.v2-badge-danger {
  @apply bg-c-danger;
}
.v2-badge-warn {
  @apply bg-c-warn;
}
.v2-badge-info {
  @apply bg-c-info;
}
.v2-badge-success {
  @apply bg-c-success;
}
/* テーブル */
.v2-table-wrapper {
  @apply overflow-x-auto;
}
.v2-table {
  @apply text-left border-collapse;
}
.v2-table th {
  @apply font-normal bg-c-sub/80 text-white px-4 py-2 border border-c-sub/20 break-keep text-nowrap;
}
.v2-table td {
  @apply px-4 py-2 border border-c-sub/20 break-keep text-nowrap;
}

/* v1 */
.button-primary {
  @apply px-4 py-2
    text-white rounded-lg cursor-pointer
    bg-c-primary hover:bg-c-primary/80 disabled:bg-c-sub
    disabled:cursor-not-allowed;
}
.button-sub {
  @apply px-3 py-1.5
    text-white rounded-lg cursor-pointer text-sm
    bg-c-sub/80 hover:bg-c-sub/70
    disabled:bg-c-sub/30
    disabled:cursor-not-allowed;
}
.button-outline {
  @apply px-3 py-1.5
    text-sm text-c-sub bg-c-sub/20
    border border-c-sub/10 hover:bg-c-sub/30
    disabled:bg-c-sub/10;
}
.button-danger {
  @apply px-4 py-2
  text-white rounded-lg cursor-pointer text-sm
  bg-c-danger hover:bg-c-danger/80;
}

.title-xl2 {
  @apply text-4xl font-semibold tracking-tight text-pretty;
}
.title-xl {
  @apply text-3xl font-semibold tracking-tight text-pretty;
}
.title-md {
  @apply text-2xl font-semibold tracking-tight text-pretty;
}
.title-sm {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}
.title-xs {
  @apply text-sm font-semibold tracking-tight text-pretty px-2 py-1 bg-c-sub/10;
}

.link-internal {
  @apply text-c-sub/90 hover:text-c-sub/70 decoration-c-sub/90 hover:decoration-c-sub/70 underline break-all;
}
.link-external {
  @apply decoration-c-primary text-c-primary hover:text-c-primary/80 underline break-all;
}

.markdown-body h1 {
  @apply text-3xl font-semibold tracking-tight text-pretty my-8;
}
.markdown-body h2 {
  @apply text-2xl font-semibold tracking-tight text-pretty my-8;
}
.markdown-body h3 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl my-8;
}
.markdown-body h4 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl my-8;
}
.markdown-body h5 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl my-8;
}
.markdown-body h6 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl my-8;
}

.markdown-body hr {
  @apply my-6 border-t border-c-sub/10;
}

.markdown-body p {
  @apply text-base leading-relaxed my-4 break-all;
}
.markdown-body a {
  @apply decoration-c-primary text-c-primary hover:text-c-primary/80 underline break-all;
}
.markdown-body a::after {
  content: "↗";
  @apply text-xs text-c-sub/50;
}
.markdown-body img {
  @apply mt-6 mb-12 rounded-lg shadow-md;
}
.markdown-body code {
  @apply bg-c-sub/10 rounded p-1 text-sm font-mono break-all;
}
.markdown-body pre code {
  @apply block text-sm font-mono bg-c-sub/10 rounded p-4 my-6 overflow-x-auto;
}

.markdown-body table {
  @apply border-collapse my-6;
}
.markdown-body th,
.markdown-body td {
  @apply border border-c-sub/10 px-4 py-2;
}
.markdown-body th {
  @apply bg-c-sub/80 text-white;
}

.markdown-body ul {
  @apply list-disc mb-4 ml-6;
}
.markdown-body ol {
  @apply list-decimal mb-4 ml-6;
}
