@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-tag: #757575;
  --color-category: #607d8b;

  --color-c-main: theme(colors.gray.900);
  --color-c-sub: theme(colors.gray.600);
  --color-c-primary: rgb(42, 134, 234);
  --color-c-secondary: theme(colors.gray.500);
  --color-c-danger: theme(colors.red.600);
  --color-c-warn: theme(colors.yellow.500);
  --color-c-info: theme(colors.cyan.600);
  --color-c-success: theme(colors.emerald.600);

  --font-sans:
    "Inter", "Noto Sans JP", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

.title-xl2 {
  @apply text-4xl font-semibold tracking-tight text-pretty;
}
.title-xl {
  @apply text-3xl font-semibold tracking-tight text-pretty;
}
.title-md {
  @apply text-2xl font-semibold tracking-tight text-pretty;
}
.title-sm {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}
.title-xs {
  @apply text-sm font-semibold tracking-tight text-pretty px-2 py-1 bg-c-sub/10;
}

.link-internal {
  @apply text-c-sub/90 hover:text-c-sub/70 decoration-c-sub/90 hover:decoration-c-sub/70 underline break-all;
}
.link-external {
  @apply decoration-c-primary text-c-primary hover:text-c-primary/80 underline break-all;
}

.markdown-body h1 {
  @apply text-3xl font-semibold tracking-tight text-pretty;
}
.markdown-body h2 {
  @apply text-2xl font-semibold tracking-tight text-pretty;
}
.markdown-body h3 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}
.markdown-body h4 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}
.markdown-body h5 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}
.markdown-body h6 {
  @apply text-xl font-semibold tracking-tight text-pretty sm:text-xl;
}

.markdown-body hr {
  @apply my-6 border-t border-c-sub/10;
}

.markdown-body p {
  @apply text-base leading-relaxed my-4 break-all;
}
.markdown-body a {
  @apply decoration-c-primary text-c-primary hover:text-c-primary/80 underline break-all;
}
.markdown-body img {
  @apply mt-6 mb-12 rounded-lg shadow-md;
}
.markdown-body code {
  @apply bg-c-sub rounded p-1 text-sm font-mono break-all;
}
.markdown-body pre code {
  @apply block bg-c-sub rounded p-2 text-sm font-mono;
}
.markdown-body pre {
  @apply bg-c-sub rounded p-4 my-6 overflow-x-auto;
}

.markdown-body table {
  @apply border-collapse my-6;
}
.markdown-body th,
.markdown-body td {
  @apply border border-c-sub/10 px-4 py-2;
}
.markdown-body th {
  @apply bg-c-sub/80 text-white;
}

.markdown-body ul {
  @apply list-disc mb-4 ml-6;
}
.markdown-body ol {
  @apply list-decimal mb-4 ml-6;
}
