// app global css in SCSS form


// 標準リンク用。ダークモードだと白文字にする
.default-link {
  color: $dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.body--dark {
  .default-link {
    color: #fff;
  }
}

// リスト間隔調整
dd {
  margin-bottom: .5rem;
}

// 全幅表示
.w-100 {
  width: 100%;
}


.body--dark {
  .bg-default {
    background-color: $dark;
  }
}

.bg-default {
  background-color: #fff;
}

.word-break {
  word-break: break-word;
}
