// 共通変数定義
@import "../variables";

// 管理者機能でのみ使用する変数定義を記述する
$primary: hsl(345, 82%, 35%);

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
$link-color: $dark;
$link-hover-color: darken($link-color, 15%);
@import "~bootstrap";
