// 共通変数定義
@import "../variables";

// フロント機能でのみ使用する変数定義を記述する
$primary: hsl(211, 57%, 54%);

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
$link-color: $dark;
$link-hover-color: darken($link-color, 15%);
@import "~bootstrap/scss/bootstrap";
