.articles {
  // grid layout
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// article content
.articles {
  > article {
    display: grid;
    grid-template-rows: 128px 1fr 1.2rem 1.2rem;
    .thumbnail {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .title {
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
// ポップオーバー表示サイズを512pxに
.popover {
  max-width: 512px;
}
