@import "./setup.scss";

@import "./sidebar.scss";
@import "./articles.scss";
@import "./top.scss";

// こまごま
.breadcrumb {
  margin: -2rem -15px 0 -15px;
  padding: 2rem 1rem;
  border-radius: 0;
}
a.no-underline {
  text-decoration: none;
}
.fixed-left {
  overflow-y: auto;
}

.nav-link.with-icon {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0.2rem;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-top: none;
  }
  &.collapsed {
    &::before {
      border-bottom: none;
      border-top: 0.3em solid;
    }
  }
}

.page-contents.markdown {
  table {
    margin-bottom: 1rem;
    th {
      border-top: solid 1px #dee2e6;
      border-bottom: solid 2px #dee2e6;
      padding: 0.75rem;
    }
    td {
      border-bottom: solid 1px #dee2e6;
      padding: 0.75rem;
    }
  }

  code {
    background: var(--light);
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
  }
  pre {
    background: var(--light);
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
    code {
      padding: 0;
    }
  }
  p {
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
}
