// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "../multi_dropdown";

@import "../common";

.page-contents.markdown {
  table {
    margin-bottom: 1rem;
    th {
      border-top: solid 1px #dee2e6;
      border-bottom: solid 2px #dee2e6;
      padding: 0.75rem;
    }
    td {
      border-bottom: solid 1px #dee2e6;
      padding: 0.75rem;
    }
  }

  code {
    background: var(--light);
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
  }
  pre {
    background: var(--light);
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
    code {
      padding: 0;
    }
  }
  p {
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
}
