@import "./variables";

@import "../shared";

// フロント機能でのみ使用するスタイルを記述する
// パンくず
.breadcrumb {
  margin: -1.3rem -15px 0 -15px;
  padding: 1rem 1rem;
  border-radius: 0;
}
// リンク下線非表示
a.no-underline {
  text-decoration: none;
}
